<!doctype html>
<html lang="en">

<head>
    <title>Register</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <!-- FontAwesome 6.2.0 CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Aos CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css"
        integrity="sha512-1cK78a1o+ht2JcaW6g8OXYwqpev9+6GqOkz9xmBN9iUUhIndKtxwILGWYOSibOKjLsEdjyjZvYDq/cZwNeak0w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Swipper CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/9.3.2/swiper-bundle.css"
        integrity="sha512-zar81H5lVN36QFsq/da1hxpOLODXK4/oFwBGOFrvdWX6SBe3NWriWTQS6YQDVfW5fDeb2Vry41YQCELOe8cHww=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- GoogleFont Montserrat -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">



    <link rel="stylesheet" href="./../asset/css/index.css">
</head>

<body data-aos-easing="ease" data-aos-duration="1200" data-aos-delay="0" cz-shortcut-listen="true" style="">
    <!-- header -->
    <header>
        <div class="header-top">
            <div class="container pt-0 pb-0">
                <div class="row">
                    <div class="col-12">
                        <div class="header-top-align">
                            <div class="header-top-align-start">
                                <div class="desc">
                                    <p>World Wide Completely Free Returns and Free Shipping</p>
                                </div>
                            </div>
                            <div class="header-top-align-end">
                                <div class="header-info-items">
                                    <div class="info-items">
                                        <ul>
                                            <li class="number">
                                                <i class="fa-solid fa-phone"></i>
                                                <a href="tel://0123456789">+00 123 456 789</a>
                                            </li>
                                            <li class="email">
                                                <i class="fa-solid fa-envelope"></i>
                                                <a href="mailto://demo@example.com">demo@example.com</a>
                                            </li>
                                            <li class="account">
                                                <i class="fa-solid fa-user"></i>
                                                <a href="./register.html">Register</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-middle">
            <div class="container pt-0 pb-0">
                <div class="row align-items-center">
                    <div class="col-12">
                        <div class="header-middle-align">
                            <div class="header-middle-align-start">
                                <div class="header-logo-area">
                                    <a href="./index.html">
                                        <img class="logo-main" src="/asset/img/logo.webp" width="131" height="34"
                                            alt="Logo">
                                    </a>
                                </div>
                            </div>
                            <div class="header-middle-align-center">
                                <div class="header-search-area">
                                    <form class="header-searchbox">
                                        <input type="search" class="form-control" placeholder="Search">
                                        <button class="btn-submit" type="submit">
                                            <i class="fa-solid fa-magnifying-glass"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                            <div class="header-middle-align-end">
                                <div class="header-action-area">

                                    <div class="shopping-cart">
                                        <button class="shopping-cart-btn" type="button" data-bs-toggle="offcanvas"
                                            data-bs-target="#AsideOffcanvasCart" aria-controls="offcanvasRightLabel">
                                            <i class="fa-solid fa-bag-shopping"></i>
                                            <sup class="shop-count">02</sup>
                                        </button>
                                    </div>
                                    <button class="btn-menu" type="button" data-bs-toggle="offcanvas"
                                        data-bs-target="#AsideOffcanvasMenu" aria-controls="AsideOffcanvasMenu">
                                        <i class="fa-solid fa-bars"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-area header-default">
            <div class="container">
                <div class="row no-gutter align-items-center position-relative">
                    <div class="col-12">
                        <div class="header-align">
                            <div class="header-navigation-area position-relative">
                                <ul class="main-menu nav">
                                    <li>
                                        <a href="./index.html"><span>Home</span></a>
                                    </li>
                                    <li>
                                        <a href="#/"><span>Man</span></a>
                                    </li>
                                    <li>
                                        <a href="#/"><span>Woman</span></a>
                                    </li>
                                    <li>
                                        <a href="#/"><span>Kid</span></a>
                                    </li>
                                    <li>
                                        <a href="#/"><span>Sport</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>



    <!-- main -->
    <main>
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <form>
                        <div class="row">
                            <div class="col-12 col-sm-6">
                                <input type="text" class="form-control" placeholder="Email" id="txtEmail">
                                <span id="tbEmail"></span>
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="text" class="form-control" placeholder="Name" id="txtName">
                                <span id="tbName"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-6">
                                <input type="password" class="form-control" placeholder="Password" id="txtPassword">
                                <span id="tbPassword"></span>
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="text" class="form-control" placeholder="Phone" id="txtPhone">
                                <span id="tbPhone"></span>
                            </div>
                        </div>
                        <div class="row">
                            <!-- <div class="col-12 col-sm-6">
                                <input type="text" class="form-control" placeholder="Password confirm">
                            </div> -->
                            <div class="col-12 col-sm-6"
                                style="display: flex; margin-bottom: 14px; padding: 9px 20px; font-size: 15px; font-weight: 300;">
                                <label for="rad1">Male</label>
                                <input type="radio" id="rad1" name="gender" required="" checked="" value="1">
                                <label for="rad2">Female</label>
                                <input type="radio" id="rad2" name="gender" required="" checked="" value="0">
                                <span id="tbGender"></span>
                            </div>
                        </div>


                        <div class="row top-padding">
                            <div class="col-12 col-sm-6"></div>
                            <div class="col-12 col-sm-6">
                                <div class="form-button text-right">
                                    <button id="register" type="submit" class="ibtn less-padding">Register</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>





    <!-- footer -->
    <footer class="footer-area">
        <div class="footer-main">
            <div class="container pt-0 pb-0">
                <div class="row">

                    <div class="col-md-6 col-lg-3">
                        <div class="widget-item">
                            <div class="about-widget-wrap">
                                <div class="widget-logo-area">
                                    <a href="index.html">
                                        <img class="logo-main" src="/asset/img/logo-light.webp" width="131" height="34"
                                            alt="Logo">
                                    </a>
                                </div>
                                <p class="desc">Lorem ipsum dolor sit amet consl adipisi elit, sed do eiusmod templ
                                    incididunt ut labore</p>
                                <div class="social-icons">
                                    <a href="https://www.facebook.com/" target="_blank" rel="noopener"><i
                                            class="fa-brands fa-facebook"></i></a>
                                    <a href="https://dribbble.com/" target="_blank" rel="noopener"><i
                                            class="fa-brands fa-dribbble"></i></a>
                                    <a href="https://www.pinterest.com/" target="_blank" rel="noopener"><i
                                            class="fa-brands fa-pinterest"></i></a>
                                    <a href="https://twitter.com/" target="_blank" rel="noopener"><i
                                            class="fa-brands fa-twitter"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3">
                        <div class="widget-item widget-services-item">
                            <h4 class="widget-title">Services</h4>
                            <h4 class="widget-collapsed-title collapsed" data-bs-toggle="collapse"
                                data-bs-target="#widgetId-1">Services</h4>
                            <div id="widgetId-1" class="collapse widget-collapse-body">
                                <div class="collapse-body">
                                    <div class="widget-menu-wrap">
                                        <ul class="nav-menu">
                                            <li><a href="contact.html">Home monitoring</a></li>
                                            <li><a href="contact.html">Air Filters</a></li>
                                            <li><a href="contact.html">Professional installation</a></li>
                                            <li><a href="contact.html">Smart Buildings</a></li>
                                            <li><a href="contact.html">For contractors</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3">
                        <div class="widget-item widget-account-item">
                            <h4 class="widget-title">My Account</h4>
                            <h4 class="widget-collapsed-title collapsed" data-bs-toggle="collapse"
                                data-bs-target="#widgetId-2">My Account</h4>
                            <div id="widgetId-2" class="collapse widget-collapse-body">
                                <div class="collapse-body">
                                    <div class="widget-menu-wrap">
                                        <ul class="nav-menu">
                                            <li><a href="account-login.html">My Account</a></li>
                                            <li><a href="contact.html">Contact</a></li>
                                            <li><a href="shop-cart.html">Shopping cart</a></li>
                                            <li><a href="shop.html">Shop</a></li>
                                            <li><a href="account-login.html">Services Login</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3">
                        <div class="widget-item">
                            <h4 class="widget-title">Contact Info</h4>
                            <h4 class="widget-collapsed-title collapsed" data-bs-toggle="collapse"
                                data-bs-target="#widgetId-3">Contact Info</h4>
                            <div id="widgetId-3" class="collapse widget-collapse-body">
                                <div class="collapse-body">
                                    <div class="widget-contact-wrap">
                                        <ul>
                                            <li><span>Address:</span> Your address goes here.</li>
                                            <li><span>Phone//fax:</span> <a href="tel://0123456789">0123456789</a></li>
                                            <li><span>Email:</span> <a
                                                    href="mailto://demo@example.com">demo@example.com</a></li>
                                            <li><a target="_blank" href="https://www.hasthemes.com">www.example.com</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </footer>










    <!--== Start Aside Cart Menu ==-->
    <div class="aside-cart-wrapper offcanvas offcanvas-end" tabindex="-1" id="AsideOffcanvasCart"
        aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <h1 id="offcanvasRightLabel"></h1>
            <button class="btn-aside-cart-close" data-bs-dismiss="offcanvas" aria-label="Close">Shopping Cart <i
                    class="fa fa-chevron-right"></i></button>
        </div>
        <div class="offcanvas-body">
            <ul class="aside-cart-product-list">
                <li class="product-list-item">
                    <a href="#/" class="remove">×</a>
                    <a href="single-product.html">
                        <img src="/asset/img/1.webp" width="90" height="110" alt="Image-HasTech">
                        <span class="product-title">Leather Mens Slipper</span>
                    </a>
                    <span class="product-price">1 × £69.99</span>
                </li>
                <li class="product-list-item">
                    <a href="#/" class="remove">×</a>
                    <a href="single-product.html">
                        <img src="/asset/img/1.webp" width="90" height="110" alt="Image-HasTech">
                        <span class="product-title">Quickiin Mens shoes</span>
                    </a>
                    <span class="product-price">1 × £20.00</span>
                </li>
            </ul>
            <p class="cart-total"><span>Subtotal:</span><span class="amount">£89.99</span></p>
            <a class="btn-theme" data-margin-bottom="10" href="shop-cart.html" style="margin-bottom: 10px;">View
                cart</a>
            <a class="btn-theme" href="shop-checkout.html">Checkout</a>
        </div>
    </div>
    <!--== End Aside Cart Menu ==-->

    <!--== Start Side Menu ==-->
    <div class="off-canvas-wrapper offcanvas offcanvas-start" tabindex="-1" id="AsideOffcanvasMenu"
        aria-labelledby="offcanvasExampleLabel" aria-modal="true" role="dialog">
        <div class="offcanvas-header">
            <h1 id="offcanvasExampleLabel"></h1>
            <button class="btn-menu-close" data-bs-dismiss="offcanvas" aria-label="Close">menu <i
                    class="fa fa-chevron-left"></i></button>
        </div>
        <div class="offcanvas-body">
            <div class="info-items">
                <ul>
                    <li class="number"><a href="tel://0123456789"><i class="fa fa-phone"></i>+00 123 456 789</a></li>
                    <li class="email"><a href="mailto://demo@example.com"><i
                                class="fa fa-envelope"></i>demo@example.com</a></li>
                    <li class="account"><a href="account-login.html"><i class="fa fa-user"></i>Account</a></li>
                </ul>
            </div>
            <!-- Mobile Menu Start -->
            <div class="mobile-menu-items">
                <ul class="nav-menu">
                    <li class="menu-item-has-children"><span class="mobile-menu-expand"></span><a
                            href="./index.html">Home</a>
                    </li>
                    <li><a href="./product.html">Product</a></li>
                    <li><a href="./register.html">Register</a>
                    </li>
                </ul>
            </div>
            <!-- Mobile Menu End -->
        </div>
    </div>
    <!--== End Side Menu ==-->


    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>

    <!-- Aos JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"
        integrity="sha512-A7AYk1fGKX6S2SsHywmPkrnzTZHrgiVT7GcQkLGDe2ev0aWb8zejytzS8wjo7PGEXKqJOrjQ4oORtnimIRZBtw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Swipper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/9.3.2/swiper-bundle.min.js"
        integrity="sha512-+z66PuMP/eeemN2MgRhPvI3G15FOBbsp5NcCJBojg6dZBEFL0Zoi0PEGkhjubEcQF7N1EpTX15LZvfuw+Ej95Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <!-- Axios -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"
  integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="../controller/index.js"></script>
  <script src="../controller/helper.js"></script>
  <script src="../controller/validation.js"></script>
  <script src="../model/Products.js"></script>
  <script src="../model/Register.js"></script>
</body>

</html>